#about.row
  .span6.equal-heights
    .text-wrapper.whats-hitcon

      %h2.wf-h2 What's HITCON

      :markdown
        Hacks In Taiwan Conference (HITCON) is the largest conference of hakers and information security in Taiwan.

        There is no black and white in pure technology domain. We consider "hacker" as a representation for chanllenging spirits and excellent skills.
        Destinguishing from other commercial-oriented conferences, HITCON provides a stage for hackers to share the real skills, the hottest and darkest, to share experience, and to interact with each other.

        Meanwhile, HITCON holds the Wargame -- internet attack and defense -- to provide realtime web environment and challenges for hackers to manifest, sharpen, and prove their ability.
        We also features innovative devices, such as realtime IRC chatting channel, and sheep wall, which makes HITCON unique.

        In this annual hackers conference, in addiiton to sharing knowledge, participants can truely experience the real hacker culture.
        Sincerely, we hereby sincerely invite our friends in the information security field to enjoy this grand meeting with us. 

  .span6
    .hitimg.equal-heights.hidden-phone
