#about.row
  .span6.equal-heights
    .text-wrapper.whats-hitcon

      %h2.wf-h2 What's HITCON

      :markdown

        Hacks In Taiwan Conference (HITCON) is the largest conference of hakers and information security in Taiwan.

        There is no black and white in pure technology domain. We consider "hacker" as a representation for chanllenging spirits and excellent skills.
        Destinguishing from those commercial conferences, HITCON provides a stage for hackers to share the hottest and deepest skills, share experience, and interact with each other.

        At the meanwhile, HITCON holds a Wargame, internet attack and defense, to provide realtime internet  environment and challenges for participants to manifest, to sharpen, and to prove their ability.
        We also features innovative arrangement, such as realtime IRC chatting channel, and sheep wall, which makes HITCON unique.

        In this annually hackers conference, in addiiton to share of knowledgment, participants can truely experience the real hacker culture.
        We hereby sincerely invite friends in the information security field to enjoy this grand meeting. 

  .span6
    .hitimg.equal-heights.hidden-phone
