.agenda
  .border
    .line
      .row
        .span12
          %hgroup
            %h2.wf.wf-h2
              %i.icon l
              Agenda 7/20
      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time Main Room<br>09:40 ~ 10:00
            .span10
              .text-wrapper
                .name 李德財 校長 Der-Tsai Lee (TW)
                .head Opening Remarks
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                Speaker
            .span10
              .text-wrapper
                :markdown
                  Dr. DT Lee received his B.S. degree in Electrical Engineering from the National Taiwan University in 1971, and the M.S. and Ph. D. degrees in Computer Science from the University of Illinois at Urbana-Champaign in 1976 and 1978 respectively. He is Fellow of IEEE and Fellow of ACM, and Academician of Academia Sinica , Taiwan since 2004. His research interests include design and analysis of algorithms, computational geometry, VLSI layout, web-based computing, algorithm visualization, software security, bio-informatics, and digital libraries.
                  
      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time Main Room<br>10:00 ~ 10:45
            .span10
              .text-wrapper
                .name 朱學恒 (TW)
                .head How to hack into your own country
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                Speaker
            .span10
              .text-wrapper
                :markdown
                  Lucifer Chu graduated from Taiwan’s National Central University in 1998 with a BS in electrical engineering. As the Chinese translator of Dragonlance Chronicle, J.R.R. Tolkien's The Hobbit, Lord of the Rings trilogy, and other 30 fantasy novels, he has dedicated himself in promoting fantasy literature because of his passion for PC games and fantasy fiction. He is also a known Internet celebrity who earned the moniker "Taiwan Otaku god," a term that refers to nerdy guys into manga and computer games. However, he feels it's rather flattering of Taiwan's media to call him god, he encourages Internet users to pursue self-directed learning and critical thinking.

      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>11:00 ~ 11:45
                .span10
                  .text-wrapper
                    .name 萬濤 Tao, Wan (CN)
                    .head Security Threats and "Underground Economy" in the Era of Cloud Computing
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Tao, Wan graduated from Chiao-Tung University, Beijing, in 1993, and is the founder and moderator of IDF Labs and Chief of the so called Chinaeagle Union security group. He is among the first generation of the Chinese hackers. Currently, he is a security consultant in China IBM Corp.
        .span6    
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>11:00 ~ 11:45
                .span10
                  .text-wrapper
                    .name 林傳凱 CK Lin (TW)
                    .head Applying SIEM for Detecting and Preventing APT Low-Profile Attacks
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      惠普科技股份有限公司 資訊安全產品事業部 北亞區資深技術顧問



      .agenda-group.rest
        .agenda-title
          .name Lunch
  
      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>13:00 ~ 13:45
                .span10
                  .text-wrapper
                    .name Pedro Vilaça (PT)
                    .head OS X Reverse Engineering and Malware - Past and future in OS X malware.
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Pedro has a broad scope of interests and speciliaties, you can see him as a secuirty consultant, reverse engineer, hacker, visionary, economist, pr even MBA. He used to handle and secure the millions and billions of the Portuguese ATM network until he got bored and left for a full-time MBA. Currently doing freelancing projects on software anti-piracy, reverse engineering and developing a security and mobile device management product for iOS. He has one of the most famous blogs dedicated to OS X and iOS reverse engineering and security, http://reverse.put.as.
        
                      <http://reverse.put.as>  
                      <email: reverser@put.as>  
                      Twitter: @osxreverse(http://twitter.com/osxreverse)
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>13:00 ~ 13:45
                .span10
                  .text-wrapper
                    .name Kunio Miyamoto a.k.a. wakatono (JP)
                    .head VMM Detection Approach Maniacs - No one can be believed
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Kunio Miyamoto graduated from the University of Electro-Communications, Japan, in 1991 with a BS in communication engineering and from Institute of Information Security, Japan, in 2011 with a PhD in information security. He is currently a deputy manager at NTTDATA Corp. 
                      This talk will be conducted in Japanese with live translation.
        
      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>13:55 ~ 14:40
                .span10
                  .text-wrapper
                    .name 鄭文彬 MJ0011 (CN)
                    .head Reversing Windows 8: Interesting Kernel Security
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      MJ0011 is a senior security researcher at 360 Safe with more than 8 years of experiences on Windows kernel, security exploits, bypassing techniques and reverse engineering. While securing the 360 product suite (a user base of 400 millions), he had discovered critical Windows vulnerabilities several times in the past. Recently, he gave talks on topics like kernel attack and defense, bootkit, and virtualization at XCON2008, POC2009/2010 and HITCON2011.

                      This talk will be conducted in Chinese with live translation.
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>13:55 ~ 14:40
                .span10
                  .text-wrapper
                    .name OSSLab 張道弘 thx (TW)
                    .head In-depth Data Recovery and Digital Forensics
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      OSSLab, also known as Open Source Software Lab, have been into the development of open embedded system, system on chip, and storage architecture. With team members having expertise in analyzing protocols and algorithms used in underlying electronics hardware, which is unlike other company, as they use only software for data rescue and digital forensics. OSSLab is the only company in Taiwan that designs its own software and hardware for digital forensics and data recovery, which can also be used for the highly difficult task of data rescue and digital forensics on mobile devices.



      .agenda-group.rest
        .agenda-title
          .name Afternoon Tea

      .row-fluid.two-col
        .span6

          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>15:00 ~ 15:45
                .span10
                  .text-wrapper
                    .name Aido & Manaka, tehepero! 愛奴＆愛花(・ω<) (JP)
                    .head How to organize Emergency headquarters with reference to Sengoku BASARA
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Chief Security Resercher about Banking system. AVTOKYO Speaker(2009,2010,2011)CISSP, CISA 
                      Specialized magazine "Hacker Japan"'s Regular writer. And he was called "King of OTAKU(Real Juu)" 
                      satisfied with his real life.
                      
                      This talk will be conducted in Japanese with live translation.
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>15:00 ~ 15:45
                .span10
                  .text-wrapper
                    .name Robert Rowley (US)
                    .head State of Web Application Security
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Robert is a security extraordinare at a shared and virtual hosting provider for approximately over one million websites and hundreds of thousands of customers. This unique environment requires providing increased security for an extremely broad range of websites and customers, and provides an ample range of attacks which our team addresses every day, and have compiled this information into the working piece being presented at this shindig.
                      In this talk, he will cover the subject based on attacks they monitor on their network, sort of a "state of web security" talk. DreamHost hosts 1 million+ domains, so the sample of data provided should be acceptably accurate.
                      Possibly, he will also dissect a handful of common backdoors they see - a basic overview of these attacker's knowledge and intent (why the bad guys do the things they do.)

      .row-fluid.two-col
        .span6

          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>16:00 ~ 16:45
                .span10
                  .text-wrapper
                    .name 潘明杰 Nanika (TW)
                    .head Exploitation of Windows .NET Framework
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Ming-chieh's (Nanika) major areas of expertise include vulnerability research, 
                      exploit techniques, malware detection and mobile security. He has 10+ years of experience 
                      on vulnerability research on Windows platform and malicious document and exploit. 
                      He has discovered numerous Windows system and document application vulnerabilities, 
                      such as Microsoft Office, Adobe PDF, and Flash. He frequently presents his researches at security conferences in Asia, 
                      including Syscan Singapore/Taipei/Hong Kong 08/10, Hacks in Taiwan 05/06/07/09/10. 
                      Ming-chieh is a staff research engineer with Trend Micro. 
                      He and Sung-ting are members of CHROOT security group in Taiwan.
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>16:00 ~ 16:45
                .span10
                  .text-wrapper
                    .name 周宏霖 Loda Chou (TW)
                    .head Introducing LLVM from a Hacker's View
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Loda is a technical guy with expertise on MS Windows/Linux kernel internals. He enjoys hacking kernel and circumventing software protection. Currently he works at a mobile chip design house.

      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time 17:00 ~ 17:10
            .span10
              .text-wrapper
                .name Wargame Day One
                .head 
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                
            .span10
              .text-wrapper
                :markdown
                  End of Wargame day one! Who will survive from HITCON hackers? Let's wait and see!

.agenda
  .border
    .line
      .row
        .span12
          %hgroup
            %h2.wf.wf-h2
              %i.icon l
              Agenda 7/21

      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time Main Room<br>09:10 ~ 09:50
            .span10
              .text-wrapper
                .name Ryan Heffernan (US)
                .head Designing for Targeted Attacks: Coping with the Realities of Determined Adversaries
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                Speaker
            .span10
              .text-wrapper
                :markdown
                  Attackers have become increasingly sophisticated, and defenders must respond in kind.  How can we design software and services to handle these evolving threats? This talk will explore ways to adapt defense strategies to better resist targeted attacks.

      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>10:00 ~ 10:45
                .span10
                  .text-wrapper
                    .name 宋雷 (CN)
                    .head Security Problems of Chinese Web Browser 
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Song is currently an engineer at Jin-Shan working on the Cheetah browser. Previously he had involved in developing 360 Safe antivirus, Ke-Niu antivirus, Jin-Shan Duba antivirus, etc.

        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>10:00 ~ 10:45
                .span10
                  .text-wrapper
                    .name Myunghun Cha & Jin Suk, Park (KR)
                    .head Emulation Based Analysis
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Cha 目前就讀於韓國浦項大學電腦工程系大四, 於2007 年時加入韓國駭客組織 PLUS, 至今已是該組織的資深成員,
                      曾在國際的駭客競賽立下不少豐功偉業, 包含 Codegate International Hacking Competition 2009 第三名, DEFCON 17 CTF 第三名 以及 DEFCON19 第八名.
                      Jin Suk 目前就讀於韓國浦項大學機械工程系大二, 於 2011 年加入 PLUS 組織, 能力跟技能至今乃是個謎... 似乎是隱藏的大魔王.
                      這二位來自韓國的駭客將於 HITCON 2012 首度公開到底是使用了什麼奇淫技巧, 才能在 CTF 競賽中取得如此佳績! 讓我們拭目以待!!!!

      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>11:00 ~ 11:45
                .span10
                  .text-wrapper
                    .name Yuji Ukai (JP)
                    .head "egg" - A Stealth Fine Grained Code Analyzer
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Yuji Ukai is the CEO of Fourteenforty Research Institute, which is highly regarded in the security community in Japan. After graduating from University of Tokushima with a PhD degree in Computer Science, he joined Kodak Research Center in Japan, researching mainly in the field of digital device and embedded system security. In 2003, he immigrated to the United States, and joined eEye Digital Security as a senior research engineer to develop vulnerability scanning tool. His job also includes: Vulnerability analysis, vulnerability auditing, malware analysis, embedded system security, P2P network security. In 2007, he went back to Japan and cofounded Fourteenforty Research Institute. He discovered many critical vulnerability in a wide range of software products, and carried out many research in the field of embedded system and real time operating system vulnerability analysis. Yuji Ukai had spoken in many well known international security conferences, and is widely recognized.


        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>11:00 ~ 11:45
                .span10
                  .text-wrapper
                    .name axis 大风 (CN)
                    .head In-depth Review of Cloud Security
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      "畢業于西安交通大學少年班，從 2000 年開始研究網路攻防技術。在大學期間創立了在中國安全圈內極具影響力的組織“幻影”。
                      2005 年加入阿里巴巴，負責網路安全。工作期間，對阿里巴巴的安全開發流程、應用安全建設做出了傑出的貢獻，並多次獲得公司的表彰。曾先後幫助淘寶、支付寶建立了應用安全體系，保障公司業務得以快速而安全的發展。
                      2009 年加入阿里巴巴雲計算有限公司，負責雲計算安全、反網路欺詐等工作，長期專注于安全技術的創新與實踐。同時還是 OWASP 在中國的區域負責人之一，在互聯網安全領域有著極其豐富的經驗。著有《白帽子講 Web 安全》一書。
                      平時樂於分享，個人博客的瀏覽已超過 200 萬。多年來活躍在安全社區中，有著強大的影響力。多次受邀在國內、國際安全會議上演講，是中國安全行業的領軍人物之一。"

  
      .agenda-group.rest
        .agenda-title
          .name Lunch

      .row-fluid.two-col
        .span6

          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>13:00 ~ 13:45
                .span10
                  .text-wrapper
                    .name Brandon Dixon (US)
                    .head Wedging into Uncharted Targeted Infrastructure
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Brandon is a security researcher and engineer for GWU where he spends his time identifying malicious attacks and thinking of better ways to detect/stop them. His research in various security topics has gotten him attention from companies such as Adobe, Verizon, Sprint, and Cisco. He has discovered several exploits and flaws based on vulnerabilities found in commercial products, web applications and messaging technologies.

                      <http://blog.9bplus.com>  
                      <https://www.pdfxray.com>  
                      twitter: [@9bplus](http://twitter.com/9bplus)

        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>13:00 ~ 13:45
                .span10
                  .text-wrapper
                    .name 周立平 教授 Prof. Chou, Li-Ping (TW)
                    .head Cryptanalysis in Real Life
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Prof. Chou, Li-Ping received his PhD degree in Computer Science from the The Taiwan University. His research areas focus on database, parallel processing, and wireless computation. Since 2009, he spent a great deal of time on researching the security of RFID, especially the exploitation of smartcard, such as Mifare Classic.

      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>13:55 ~ 14:40
                .span10
                  .text-wrapper
                    .name 叢培侃 PK (TW)
                    .head Pwning The Well-known Chinese P2P Network 
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Peikan (aka PK) has intensive computer forensic, malware and exploit analysis and 
                      reverse engineering experience. He's working for National Police Agency now. Besides, 
                      he is also the docent for Taiwan Network Information Center (TWNIC), SyScan and HITCON
                      as well as FutureGOV conference and convey various training and workshop for practitioners.

        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>13:55 ~ 14:40
                .span10
                  .text-wrapper
                    .name 洪光鈞 Kuang-Chun Hung (TW)
                    .head SCADA Security Uncovered 
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Mr. Hung works in Information & Communication Security Technology Center (ICST). He is an ordinary office worker like us. Family and work are almost all of his life. He likes basketball and knows penetration testing and fuzzing testing. Today, the ordinary office worker will show his prowess in HITCON 2012.


      .agenda-group.rest
        .agenda-title
          .name Afternoon Tea

      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Main Room<br>15:00 ~ 15:45
                .span10
                  .text-wrapper
                    .name Andrey Belenko (RU)
                    .head Evolution of iOS Data Protection and iPhone Forensics: from iPhoneOS to iOS 5 and iCloud backups, iOS 
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Andrey is the Chief Security Researcher and Software Engineer at Elcomsoft. 
                      Co-invented ThunderTables (which are improved RainbowTables) and was first to bring 
                      GPU acceleration to password recovery. M. Sc. IT and CISSP. 
    
                      <http://ru.linkedin.com/in/belenko>
                      twitter: [@andreybelenko](http://twitter.com/andreybelenko)

        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time Room 2<br>15:00 ~ 15:45
                .span10
                  .text-wrapper
                    .name Frank Tse & William Guo (HK)
                    .head DDoS - Yesterday, Today and tomorrow 
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    Speaker
                .span10
                  .text-wrapper
                    :markdown
                      Mr. Frank Tse is the Research Manager of Nexusguard, 
                      a premium DDoS mitigation provider. He is an experienced network security specialist in 
                      DDoS mitigation, responsible for understanding the most current DDoS attacks and developing 
                      pre-emptive mitigation strategies. He is also in charge of maintaining the mitigation provider's 
                      knowledge base and internal training. Frank has been on the frontline of combating DDoS for Nexusguard 
                      for the past three years, analysing and mitigating hundreds of attacks per month. He provides first hand 
                      and in-depth insight on attacks and effective application of countermeasures. 
                      He is also the coordinator for external communications with academic and research bodies on DDoS related matters. 
                      Mr. Tse is a CCIE holder with a degree in Computing Mathematics.
                      William Guo is a security researcher at Nexusguard, he has experiences in vulnerability detection and incident response, also he is a big fan of internet/startup and tech blog writer.


      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time Main Room<br>16:00 ~ 16:45
            .span10
              .text-wrapper
                .name 大可 Dark (TW)
                .head Applying iOS Reverse Engineering - IAP Exploitation, Game Cheating and Phone Command & Control.
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                Speaker
            .span10
              .text-wrapper
                :markdown
                  Dark has studied network attack and defense technologies since 2005 and is active in information security communities of Taiwan. He was the founder of the hacker group, PHATE and a core member of Zuso Security. He is a member of information security research group, CHROOT now. 
                  Dark is an expert on many programming languages, reverse engineering and Windows internal. He presented ¨The Concept of Game Hacking & Bypassing Game Protection (Hackshield)〃 in HITCON 2009 when he was just eighteen years old. He recently focuses on iOS reverse engineering and would like to share his study result in HITCON 2012.
                  Although his name is ¨Dark〃, Dark is a pure white-hat hacker.

      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time 17:00 ~ 17:30
            .span10
              .text-wrapper
                .name Wargame Ceremony
                .head Wargame Ceremony
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
            .span10
              .text-wrapper
                :markdown
                  Who will make to the finals and win the trophy of HITCON Wargame?!


