#feature
  .row.big-header
    .span12
      %hgroup
        %i.icon e
        %h2.wf.wf-h2 Features
        %h3.ct9 Highlights of HITCON 2012

  .row
    .span8.offset2

      .row
        .span4
          .text-wrapper    
            %h3
              %i.icon I
              %span.ct9 A-class speakers
            %p More than ten foreign speakers to share the latest skills with you.
        .span4
          .text-wrapper
            %h3
              %i.icon s
              %span.ct9 High-class conference
            %p You don't need to feed your appetitite in other information security conference.
      .row
        .span4
          .text-wrapper
            %h3
              %i.icon h
              %span.ct9 High-quality projection
            %p Dual projecitons to satisfy the both the quality and entertainment (Sheep Wall, and IRC).
        .span4
          .text-wrapper
            %h3
              %i.icon m
              %span.ct9 Charming price
            %p Special price offered, only one-thirtieth of the fee of overseas conferences.
      .row
        .span4
          .text-wrapper    
            %h3
              %i.icon W
              %span.ct9 High-level Wargame
            %p The "Hell level" of Wargame especially conducts "Capture the Flag", the brand new rules and awards! Compete with world-wide known hacker team!
        .span4
          .text-wrapper
            %h3
              %i.icon b
              %span.ct9 Famous geek
            %p The god of geek--Chu Hsueh Heng--will be the first-day keynote. Will he be attacked? Let's see...

