#registration
  .row.big-header
    .span12
      %hgroup
        %i.icon v
        %h2.wf.wf-h2 Registration
  .row-fluid
    .span6
      .text-wrapper
        :markdown

          ### Registration
          
          #### On-line Registration: All participants have to register on-line with complete information, and wire the registration fees via ATM.

          Registration: <http://reg.hitcon.org/2012/>
          
          #### 1st phase of registration: 

          - Registration Date: 2012/06/01 ~ 2012/06/17
            - Regular *NTD 3,128*
            - Student *NTD 1,433*
            - VIP *NTD 4,000*

          #### 2nd phase of registration:

          - Registration Date: 2012/06/18 ~ 2012/07/08
            - Regular *NTD 3,389*
            - Student *NTD 1,521*
            - VIP *NTD 4,899*

          **VIP Ticket Holders are eligible for entrance priority and reserved seats.**
          If you don't understand Chinese, would you please mail to service [at] hitcon.org, we will be happy to give you assistance.

          #### On-site Registration:
          
          The participants are also welcome to register on-site.
          Fees: *NTD 3,400* Availability is limited.

    .span6
      .text-wrapper
        :markdown

          #### Requirement for Student Discount
          
          If you are included in one of the following categories, you can register as “Student”, and have the special discounts as statement.

          1. You are under 24 years old and a current student studying in college. (Graduate school is not included) Please make sure your Student ID card is stamped with registration confirmation of 2 semesters in 100 academic years.
          1. You are born after Aug, 1993, and possess any photo identification of the followings – Personal ID card, Driving license, Health Insurance card, Passport.

          #### Notification for Students
          
          1. Participants who registered as “Student” should bring either your Student ID card or one of the photo identification listed above.
          1. If you do not reach our requirement or forget to bring your identification as listed above, we apologize that the additional fees have to be paid to meet the “Regular On-site” Price.
          
          #### Notification for Generals
          
          1. Participants who registered on-line have to provide real information, and prepare any identification with photo.
          1. Please remember the content in your registration confirmation letter, or bring the letter with you for on-site identification.
          1. The transportation and hotel fees are not included in the registration fees.
          1. Delicate lunch and afternoon-tea are included in the registration fees.

