#venue
  .row
    .span6.equal-heights2
      .text-wrapper
        .big-header
          %hgroup
            %i.icon i
            %h2.wf.wf-h2 Venue & Information
            %h3.ct9 Venus & Information
            .post
              .date
                .start
                  2012
                  %span.slash /
                  7
                  %span.slash /
                  20
                  %span.wd.ct10 (五)
                .end
                  2012
                  %span.slash /
                  7
                  %span.slash /
                  21
                  %span.wd.ct10 (六)
              .info
                %a.place{ :href => "http://goo.gl/maps/3MzL" }
                  .ct10 Academia Sinica
                  .ct10 Humanities & Social Sciences Building
                  .ct10 International Conference Hall
                  .add No.128, Sec. 2, Academia Rd., Nangang Dist., Taipei City 115, Taiwan
        .more
          :markdown
            - By Bus: Bus lines 205, 212, 270, 276, 306, 620, 645 all go to Academia Sinica
            - By MRT: Take the Nankang-Banqiao-Tucheng line to Nankang Station, and then transfer to Bus 212, 270 or Blue 25 to go to Academia Sinica.
            - By Train: Transfer to Bus 212, 270 or Blue 25 at Nankang Train Station to go to Academia Sinina
            - 停車位置：人文社會科學館停車場不開放使用，中研院院內四周有少量車位可停。建議搭乘大眾運輸工具。
    .span6
      .google-map.equal-heights2
        #map_canvas
        //.old-screen
